<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org "  th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<section class="banner">
	
	<div class="px-4 py-5 px-md-5 text-center text-lg-start" >
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5  fw-bold ls-tight">
           Patients is our <br />
            <span class="text-primary fw-bold">Priority</span>
          </h1>
          <p class= "text-white fs-5" >
            A healthcare institution providing patient treatment with specialized health science and auxiliary healthcare staff and medical equipment.
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0 ">
        
          <div class="card bg-body-secondary border rounded-2">
         
         <img alt="" src="indexImg.jpg">
         <div class= "text-center bg-body-secondary mt-2 mb-2">If You Are New Here Please Register Yourself First <a class="ms-2 fs-5" th:href="@{/register}" > <strong>Register!!</strong> </a> </div>
         
         
          </div>
        </div>
      </div>
    </div>
  </div>
	
	
	
</section>



</body>
</html>